{
  "local": {
    "REACT_APP_ENV": "local",
    "REACT_APP_CLIENT_CONFIRMATION_MAIL_URI": "http://localhost:3000/login/",
    "REACT_APP_API_URL": "<PUT YOUR SERVER API HERE>"
  },
  "test": {
    "REACT_APP_ENV": "test",
    "REACT_APP_CLIENT_CONFIRMATION_MAIL_URI": "<PUT YOUR CLIENT_CONFIRMATION_MAIL_URI HERE>",
    "REACT_APP_API_URL": "<PUT YOUR API_URL HERE>",
    "BUILD_PATH": "./build/test",
    "FTP_DEPLOY_USERNAME": "HiveInvoice-Client-Test",
    "FTP_DEPLOY_PASSWORD": "<PUT YOUR FTP PASSWORD HERE>"
  }
}
